<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/views/style.css">
    </head>
    <body>
       <form action="">
        <div class="input-div">
            <h1>Tasks</h1>
            <br>
            <button class="button3">REFRESH</button>
            <button class="button4">DELETE ALL</button>
            <br>
            <input type="text" class="task">
            <input type="date" class="date-input">
            <button class="button2">POST</button>
        </div>
        <hr>
        <br>
        <div class="time-div">

            <h1 class="year">year</h1><h1>/</h1><h1 class="month">month</h1><h1>/</h1><h1 class="date">date</h1><h1 class="weekday">day</h1> <br> 
            <h1 class="hour time">hour</h1><h1>:</h1><h1 class="minute time">minute</h1><h1>:</h1><h1 class="second time">second</h1>
        </div>
        <div class="task-div">
            <p class="task1"></p>

        </div>
       </form>
        <script src="/views/script.js"></script>
    </body>
</html>